<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cars</title>
  </head>
  <body>
    <% cars.forEach(car=>{ %>
        <ul>Manufacturer:<%= car.company_name %>
        Model Name: <%= car.name %>
        Trim: <%= car.trim %>
        Price: <%= car.price %>
        </ul>
<%})%>
  </body>
</html>
